/*-- Body Reset --*/
body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  color: #464a4d;
}
html{
  scroll-behavior:smooth;
}

.darkMode {
  background-color: rgb(49, 47, 47);
  transition: ease .3s;
}

.lightMode {
  background-color: #f7f6e8;
  transition: ease .3s;

}
/*============= TOP BAR HEADER =============*/


 
/*============= NAVIGATION =============*/


.fa-toggle-on:hover{
  color: white
  !important;
}
.fa-toggle-off:hover{
  color: black
  !important;
}


#help_btn2{
 border-radius: 8%;
 border :none;
font-weight: 500;
font-size: x-large;
color:#e48811;
cursor:hand;
background-color: transparent

}
#help_btn3{
  border-radius: 8%;
  border :none;
 font-weight: 500;
 font-size: x-large;
 color:#e48811;
 cursor:hand;
 background-color: transparent;
}

#help_btn2:hover{
color:blue;
}

#help_btn3:hover{
  color: red;
  }

#darkModeSwitch{
  border-radius: 8%;
 background-color: transparent !important;
 font-size: x-large;
 color:#e48811;
 border :none;
}

#h23{
  font-size: xx-large;
  font-weight: 500;
  color: black;
  padding-top: 10px;

}
#h23::after
{
  text-align: center;
  content: '';
  background: rgb(230, 218, 64);
  display: block;
  height: 2px;
  width: 190px;
  margin: 10px auto;

}

.nav-item:hover{
background-color: rgb(236, 220, 80)!important;
}

.nav-item{
  border-radius: 8%!important;
}
.active{
  background-color:#e48811!important;
  border-bottom: 2px solid #1a242f;
  
}

.mydatatable{
  color: #1a242f;
}


.bg-modal{
  width: 100%;
  height: 100%;
  background-color:black;

  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;

  z-index: 1001;
  transform: scale(1);
  transition: .6s ,.6s ease transform;
}

.modal-content{
  width: 1200px;
  height: 600px;
background-color: yellow;
border-radius: 4px;
justify-content: center!important;
align-items: center!important;

align-content: center!important;
display:block;
text-align: center;

}

.bg-modal.active2.content{
  display: block;
}

.img_modal{
  font-size: x-large;
 color: orange;
}

/*============= CAROUSEL =============*/

.carousel-inner {
  width:auto;
max-height:36rem!important;
}

/*---Change Carousel Transition Speed --*/

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active{
  transition: 1.2s ease;
}
.slide{
  width:auto;
  max-height:36rem!important;
}

/*-- Carousel Content --*/


.carousel-control-next{
 
   
 
    width: 4%!important;
  z-index: 1002!important;
}


.carousel-control-prev{
 
  z-index: 1002!important;

 
  width: 4%!important;

}
#carousel{
  position: relative;
}

/*===== FIXED BACKGROUND IMG =====*/



/*-- Emoji Navbar --*/

/*-- GoTopArrow --*/

#gotop{
  position:fixed;
  width: 50px;
  height: 50px;
  bottom: 40px;
  left: 10px;
  opacity: .85;
  
  color: black;
  font-size: 20px;
  cursor: pointer;
border:1px solid  black;
border-radius: 8%;

}
/*-- GoDownArrow --*/

#godown{
  position: fixed;;
 
  width: 50px;
  height: 50px;
  top: 80px;
  left: 10px;
  opacity: .85;
  z-index: 1100;
  color: white;
  font-size: 20px;
  cursor: pointer;
  border:1px solid white;
  background-color: transparent;
  border-radius: 8%;


}
.tooltip-demo2{
  position: relative;
}


/*--Our team section--*/


.team {
  margin :75px 0;
}

h1{
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
  color:black;
  padding-bottom: 10px;
  
}
h1:after{
  text-align: center;
  content: '';
  background: rgb(230, 218, 64);
  display: block;
  height: 2px;
  width: 190px;
  margin: 10px auto;

}

.container img {
  width: 100%;
}

.profile{
  margin-top: 25px;
}

.profile .img-box{
  display: block;
  position: relative;

;
}


.imm{
  max-width: 100%;
  max-height: 100%;
}


a.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

/*============= PRODUCTS =============*/

.display-5{
  padding-top: 30px;
}

.products{
  margin :75px 0;
}
/*============= FOOTER =============*/

footer img{
  
  max-width: 200px;
  max-height: 80px;
 margin: 2 auto;
}



footer p, footer a{
  color: white;
  text-decoration: none;
}


#breadslice{
   color: rgb(236, 220, 80);
}
#cake{
  color: rgb(158, 75, 144);
}
#pastry{
  color: rgb(228, 149, 46);
}

ul.social{
  list-style: none;
  display: flex;
max-width:16rem ;
margin: 0 auto;
}

ul.social li{
  margin: 0 auto;
}

.footer_img h2{
  font-family: "Kaushan Script";
  color: white;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper.dataTables_paginate.paginate_button.disabled,.dataTables_wrapper .dataTables_paginate .paginate_button{
  color: rgb(165, 165, 165) !important;
}
.dataTables_wrapper.dataTables_paginate.paginate_button.enabled{
  color: rgb(165, 165, 165) !important;
}


.dataTables_wrapper .dataTables_filter input {
  background-color: rgb(176, 189, 204);
}
.dataTables_wrapper .dataTables_length select {
  background-color:rgb(176, 189, 204);
}

  .dataTables_wrapper .dataTables_paginate .paginate_button.current{
    background-color:  rgb(165, 165, 165);
  color: #045a9c!important;}

  
table.dataTable tbody tr {
    background-color: transparent !important;

}



thead{
  color: rgb(228, 149, 46);
}
#fb{
  font-size: x-large ;
}
#insta{
  font-size: x-large ;
}

#fb:hover{
  color: rgb(58, 69, 223);
}
#insta:hover{
  color: rgb(180, 43, 235);
}

.validity{
  border-color: red;
}

#breadslice{
  font-size: xx-large;
}
#cake{
  font-size: xx-large;
}
 #pastry{
  font-size: xx-large;
}
/*============= SOCKET =============*/

.youtube {
  max-width: 1080px;
  max-height: 720px;
margin: auto;
}

/*============= MEDIA QUERIES =============*/

/* Devices under 1199px (xl) */
@media (max-width: 1199.98px) {


}

/* Devices under 768px (md) */


@media (max-width: 991.98px) {


  .modal-content{
    width: 800px;
    height: 500px;

  }
  
  

}
@media (max-width: 767.98px) {

  #godown{

    height: 30px;
    width: 30px;
  }
  #gotop{

    height: 30px;
    width: 30px;
  }

  .modal-content{
    width: 600px;
    height: 350px;

  }
  #breadslice{
    font-size: x-large;
  }
  #cake{
    font-size: x-large;
  }
   #pastry{
    font-size: x-large;
  }
  
  
  

}
@media (max-width: 575.98px) {

  
 

  .modal-content{
    width: 420px;
    height: 230px;

  }
  #header1_mod{
    font-size: small;
  }

  #header2_mod{
    
    font-size: small;
  }
  #p1_mod{
   
    font-size: small;
  }


}

h2{
  font-size: xx-large;
  font-weight: 550;

  padding-top: 10px;

}
h3{
  font-size: x-large;
  font-weight: 500;

  padding-top: 10px;

}
p{
  font-size: x-large;
  font-weight: 500;
  padding-top: 10px;
}


/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/

/*-- Bootstrap Mobile Gutter Fix --*/
.row, .container-fluid 
{
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/*-- Fixed Background Image --*/
.fixed-background
 {
  position: relative;
  width: 100%;
  z-index: 1000!important;
} 
 
 
.fixed-wrap 
{ 
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999 !important;
}  
   
   
.fixed 
{
  z-index: -999!important;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}



.navbar-brand{
  max-width: 160px;
  max-height: 80px;
  padding-right: 20px;
}



